<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TIC TAC TOE
  </h1>
  <br>
  <button type="button" class="btn btn-outline-primary" (click) = "reiniciarJuego()">Reiniciar</button><br><br>
</div>

<table align="center">
  <tr>
    <td height="100" width="100" (click) = "onClick(0)"><img src={{simbolo[0]}} alt={{matriz[0]}} height="100" width="100"></td>
    <td height="100" width="100" (click) = "onClick(1)"><img src={{simbolo[1]}} alt={{matriz[1]}} height="100" width="100"></td>
    <td height="100" width="100" (click) = "onClick(2)"><img src={{simbolo[2]}} alt={{matriz[2]}} height="100" width="100"></td>
  </tr>
  <tr>
    <td height="100" width="100" (click) = "onClick(3)"><img src={{simbolo[3]}} alt={{matriz[3]}} height="100" width="100"></td>
    <td height="100" width="100" (click) = "onClick(4)"><img src={{simbolo[4]}} alt={{matriz[4]}} height="100" width="100"></td>
    <td height="100" width="100" (click) = "onClick(5)"><img src={{simbolo[5]}} alt={{matriz[5]}} height="100" width="100"></td>
  </tr>
  <tr>
    <td height="100" width="100" (click) = "onClick(6)"><img src={{simbolo[6]}} alt={{matriz[6]}} height="100" width="100"></td>
    <td height="100" width="100" (click) = "onClick(7)"><img src={{simbolo[7]}} alt={{matriz[7]}} height="100" width="100"></td>
    <td height="100" width="100" (click) = "onClick(8)"><img src={{simbolo[8]}} alt={{matriz[8]}} height="100" width="100"></td>
  </tr>
</table>

<br>

<div class="alert alert-info" role="alert">
    <label>{{msg}}</label>
</div>